@mixin sp-car-1($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}car.png");
  background-position: 0px 0px;
}

@mixin sp-car-2($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}car.png");
  background-position: -240px 0px;
}

@mixin sp-car-3($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}car.png");
  background-position: 0px -141px;
}
@mixin sp-1($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}common.min.png");
  background-position: 0px 0px;
}

@mixin sp-2($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}common.min.png");
  background-position: -155px 0px;
}

@mixin sp-3($imgUrl:$spriteUrl) {
  background-image: url("#{$imgUrl}common.min.png");
  background-position: -301px 0px;
}